.successbody{
    text-align: center;
    color: green;
 }

 .Successhading{
    margin-top: 30px;
    color: green;
 }
 .successbutton{
    margin-top: 20px;
 }
a{
    margin-top: 20px;
    text-decoration: none;
}
  
