.successbody {
  text-align: center;
  color: green;
}

.Successhading {
  margin-top: 0px;
  color: white;
  font-size: 50px;
}
.successbutton {
  margin-top: 140px;
  height: 60px;
  width: 100px;
  border-radius: 10px;
  background-color: yellow;
  color: black;
  font-weight: bold;
}
a {
  margin-top: 20px;
  text-decoration: none;
}

.confirm {
  background-image: url(front2.avif);
  background-size: cover;
  height: 600px;
}
